@tailwind base;
@tailwind components;
@tailwind utilities;

/* FullCalendar CSS */
@import '@fullcalendar/core/index.css';
@import '@fullcalendar/daygrid/index.css';
@import '@fullcalendar/timegrid/index.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f8f9fa;
}